body{
    opacity: 1;
    transition: 2s opacity;
}
body.fade-out{
    opacity: 0;
    transition: none;
}
html {
    background-color: white;
}
input[placeholder]{
    color: gray;
}

{box-sizing: border-box;}

.open-button{       /*Button for opening form, fixed at bottom of page*/
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: -webkit-sticky;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup{        /*keeps form hidden by default*/
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}

.form-container .btn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel{
    background-color: red;
}

.form-container .btn:hover, .open-button:hover{
    opacity: 1;
}

#red {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
}
@keyframes mymove{
    from {top: 0px;}
    to {top: 200px;}
}

