@page
@model PrivacyModel
@{
    ViewData["Title"] = "My Latest Projects";
}
<h1 class="text-center p-4">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mx-auto shadow-lg bg-white">
            <div class="row g-0"> 
                <div class="col-md-8 my-3">
                    <div class="card-body">
                        <h3 class="card-title mx-2">My Portfolio Website</h3>
                        <p class="card-text mx-2">
                            A portfolio website using ASP.NET Core Web App template to utilize Razor syntax, HTML/CSS, Bootstrap, and JavaScript for front-end features.
                        </p>
                        <p class="card-text mx-2"><small class="text-muted">March 2023</small></p>

                        <button id="regular" class="btn px-5" style="border-radius:50px; background-color:#f2c9e9"><a href="https://github.com/veepham/Portfolio" target="_blank">See Source Code</a></button>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <img src="img/PortfolioPage.jpg" class="img-fluid" width="322" height="404">

                </div>
            </div>
        </div>
    </div>
 </div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mx-auto shadow-lg bg-white">
            <div class="row g-0"> 
                <div class="col-md-8 my-3">
                    <div class="card-body">
                        <h3 class="card-title mx-2">Car Insurance Application</h3>
                        <p class="card-text mx-2">
                            A MVC web application created using C# and the .NET Framework. It takes in user input for policy information and calculates a quote based on business logic. Additonally, an admin page was created to allow administrative view of all quotes issued to which clients.
                        </p>
                        <p class="card-text mx-2"><small class="text-muted">March 2023</small></p>

                        <button id="regular" class="btn px-5" style="border-radius:50px; background-color:#f2c9e9"><a href="https://github.com/veepham/Basic-C-Sharp-Projects/tree/main/CarInsurance" target="_blank">See Source Code</a></button>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <img src="img/carinsurance.jpg" class="img-fluid" width="322" height="404">

                </div>
            </div>
        </div>
    </div>
 </div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mx-auto shadow-lg bg-white">
            <div class="row g-0"> 
                <div class="col-md-8 my-3">
                    <div class="card-body">
                        <h3 class="card-title mx-2">Portland's Best Dishes</h3>
                        <p class="card-text mx-2">
                            An app utilizing various Python and Django features in order to create a database using SQLite, interact with APIs, and display these collections of data onto a webpage that implements CRUD functionality.
                        </p>
                        <p class="card-text mx-2"><small class="text-muted">January 2023</small></p>

                        <button id="regular" class="btn px-5" style="border-radius:50px; background-color:#f2c9e9"><a href="https://github.com/veepham/Python-LiveProject" target="_blank">See Source Code</a></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="img/liveproject.jpg" class="img-thumbnail" width="322" height="404">

                </div>
            </div>
        </div>
    </div>
 </div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mx-auto shadow-lg bg-white">
            <div class="row g-0"> 
                <div class="col-md-8 my-3">
                    <div class="card-body">
                        <h3 class="card-title mx-2">Blue Bird Banking</h3>
                        <p class="card-text mx-2">
                            Using Python/Django and adding to source code, I built an application that allows a user to create an account, add transactions, and view transactions. The user can also add multiple accounts and navigate to them via a drop-down menu.
                        </p>
                        <p class="card-text mx-2"><small class="text-muted">December 2022</small></p>

                        <button id="regular" class="btn px-5" style="border-radius:50px; background-color:#f2c9e9"><a href="https://github.com/veepham/Python-Projects/tree/main/Django_Checkbook_Project" target="_blank">See Source Code</a></button>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <img src="img/BlueBirdBanking.jpg" class="img-fluid" width="322" height="404">

                </div>
            </div>
        </div>
    </div>
 </div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mx-auto shadow-lg bg-white">
            <div class="row g-0"> 
                <div class="col-md-8 my-3">
                    <div class="card-body">
                        <h3 class="card-title mx-2">Order a Pizza!</h3>
                        <p class="card-text mx-2">
                            A single-page website of a menu used to order pizza with various size options and multiple topping selections. The information input will then calculate the total price for the order using JavaScript.
                        </p>
                        <p class="card-text mx-2"><small class="text-muted">September 2022</small></p>

                        <button id="regular" class="btn px-5" style="border-radius:50px; background-color:#f2c9e9"><a href="https://github.com/veepham/JavaScript-Projects/tree/main/Pizza_Project" target="_blank">See Source Code</a></button>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <img src="img/PizzaMenu.jpg" class="img-fluid" width="322" height="404">
                </div>
            </div>
        </div>
    </div>
 </div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mx-auto shadow-lg bg-white">
            <div class="row g-0"> 
                <div class="col-md-8 my-3">
                    <div class="card-body">
                        <h3 class="card-title mx-2">Tic Tac Toe</h3>
                        <p class="card-text mx-2">
                            An interactive game of tic-tac-toe! Utilizing JavaScript for game and animation.
                        </p>
                        <p class="card-text mx-2"><small class="text-muted">September 2022</small></p>

                        <button id="regular" class="btn px-5" style="border-radius:50px; background-color:#f2c9e9"><a href="https://github.com/veepham/JavaScript-Projects/tree/main/Tic%20Tac%20Toe%20Game" target="_blank">See Source Code</a></button>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <img src="img/TicTacToe.jpg" class="img-fluid" width="322" height="404">

                </div>
            </div>
        </div>
    </div>
 </div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mx-auto shadow-lg bg-white">
            <div class="row g-0"> 
                <div class="col-md-8 my-3">
                    <div class="card-body">
                        <h3 class="card-title mx-2">Sugar Me Macarons</h3>
                        <p class="card-text mx-2">
                            Sugar Me Macarons is a basic one-page website. It is styled with CSS to show image overlays within image containers and hover effects.
                        </p>
                        <p class="card-text mx-2"><small class="text-muted">August 2022</small></p>

                        <button id="regular" class="btn px-5" style="border-radius:50px; background-color:#f2c9e9"><a href="https://github.com/veepham/HTML-and-CSS-Projects/tree/main/SugarMeMacarons" target="_blank">See Source Code</a></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="img/macarons.png" class="img-fluid" width="322" height="404">

                </div>
            </div>
        </div>
    </div>
 </div>
